<h5>Dashboard</h5>
<h3>Wellcome, {{name}}!</h3>
<p>Here are your stories</p>
{{#if stories}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
                <tr>
                    <th><a href="/stories/{{_id}}">{{title}}</a></th>
                    <th>{{formatDate createdAt 'L, LT'}}</th>
                    <td><span class="status">{{status}}</span></td>
                    <td>
                        <a href="/stories/edit/{{_id}}" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/stories/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not created any stories yet</p>
{{/if}}